/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #222;
  color: white;
}
.navbar .nav-links {
  display: flex;
  list-style: none;
}
.navbar .nav-links li {
  margin-left: 1rem;
}
.navbar a {
  color: white;
  text-decoration: none;
}
